@model _15_11TamarProjectTry3.Models.Student
@{
    ViewData["Title"] = "End";
}
<div class="FormDiv">
    <h3>End-quiz</h3>
    <div>Thank you for participating in our research</div>
    @*<a asp-controller="Answers" asp-action="Index">Yes</a>*@
    @*<form method="post" asp-controller="Answers" asp-action="Index">
        <input type="hidden" value="@Model.FirstName" />
            <input type="hidden" value="@Model.LastName" />
            <input type="hidden" value="@Model.Id" />
            <input type="hidden" value="@Model.MyId" />
        <input type="submit" value="Yes" />
    </form>*@
</div>


